.form__field {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: black;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  min-height: 35px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__field:nth-child(1) {
  margin-top: 39px;
}

.form__field:nth-child(2) {
  margin-top: 21px;
}

@media screen and (max-width: 320px) {
  .form__field:nth-child(1) {
    margin-top: 66px;
  }
}
