.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  height: 32px;
  width: 32px;
  background-image: url(../../../src/images/close.svg);
  background-color: transparent;
  background-size: cover;
  border: none;

  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 425px) {
  .popup__close {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}

.popup__close:hover {
  opacity: 0.6;
}
