.place__trash {
  position: absolute;

  display: none;

  top: 20px;
  right: 20px;

  width: 18px;
  height: 19px;
  border: none;

  background-image: url(../../../../src/images/trash.svg);
  background-color: transparent;
  cursor: pointer;

  transition: opacity 0.3s ease-in-out;
}

.profile__trash:hover {
  opacity: 0.6;
}
