.place__icon{
  margin: 0;
  padding: 0;
  background-image: url(../../../src/images/heart.svg);
  
  background-color: transparent;
  border: none;
  width: 22px;
  height: 19px;
  transition: opacity .3s ease-in-out;

  cursor: pointer;
}

.place__icon:hover{
  opacity: .5;
}