.profile__avatar-overlay {
  position: relative;
  width: 120px;
  height: 120px;
}

.profile__avatar-overlay::after {
  content: '';
  position: absolute;
  background-image: url('../../../images/pencil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  /* left: calc(50%- (26px / 2)); */
  /* top: calc(50%- (26px / 2)); */
  top: 47px;
  left: 47px;
  width: 26px;
  height: 26px;
}
